<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appwidget">

    <application
        android:allowBackup="true"
        android:name="com.example.appwidget.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--        android:theme="@style/SplashThemeWithTitle">-->
        <activity android:name="com.example.appwidget.activity.MainActivity"
            android:theme="@style/AppThemeWithTitle"/>

        <activity android:name="com.example.appwidget.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity android:name="com.example.appwidget.activity.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/SplashThemeWithTitle">-->
<!--&lt;!&ndash;            android:theme="@style/SplashTheme">&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name="com.example.appwidget.activity.WidgetConfigureActivity"
            android:theme="@style/AppThemeWithTitle"/>

        <receiver
            android:name="com.example.appwidget.widget.PedometerAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_pedometer" />
        </receiver>

        <receiver
            android:name="com.example.appwidget.widget.TodoListAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_todo_list" />
        </receiver>

        <receiver
            android:name="com.example.appwidget.widget.StateListAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_state_list" />
        </receiver>

        <receiver
            android:name="com.example.appwidget.widget.CountDownAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_count_down_list" />
        </receiver>

    </application>
</manifest>